.about {
	h1 {
		text-align: center;
		@include breakpoint(xs){ 
			margin-bottom: 20px;    line-height: 28px;
		}
		@include breakpoint(sm){ 
			margin-bottom: 30px;
			padding: 0 50px;
		}
		@include breakpoint(lg){ 
			line-height: 62px;
	    	font-size: 46px;
	    	margin-bottom: 30px;
	    }
	}
	p {
		font-family: 'overpass-light';
		font-size: 30px;line-height: 51px;
		font-weight: 400;
		text-align: center;
		font-style: normal;
		margin-top: 15px;
		 @include breakpoint(md){ 
	        font-size: 26px;
    		line-height: 44px;
    		margin-bottom: 0;
		    margin-top: 15px;
		    padding: 0 70px 50px;
    	}
    	 @include breakpoint(sm){ 
	        font-size: 18px;
    		line-height: 30px;
    		margin: 0;
    		padding: 0 70px 50px;

    	}
		 @include breakpoint(xs){ 
	        font-size: 16px;
    		line-height: 23px;
    		padding-bottom: 30px;
    	}
	}
	.border {
	    width: 50%;
	    margin: auto;
	    border-top: 1px solid;
	}
 .services {
 	padding-top: 35px;
 	@include breakpoint(xs){padding-top: 30px; }
 	 @include breakpoint(sm){padding-top: 50px; }
 	 @include breakpoint(md){padding-top: 70px; }
 	.serv-name {
 		font-family: caecilia, sans-serif;
	    font-weight: 400;
	    font-style: normal;
	    font-size: 26px;
	    line-height: 28px;
	    margin: 15px 0;
	    vertical-align: middle;
	    min-height: 50px;
	    border-left: 6px solid;
	    align-items: center;
	    display: flex;
	    @include breakpoint(md){ 
	    	font-size: 20px;
			line-height: 23px;
	         min-height: 50px;
	    }
	     @include breakpoint(sm){ 
	    	 font-size: 18px;
	         line-height: 20px;
	         min-height: 40px;
	    }
	     @include breakpoint(xs){ 
	        font-size: 17px;
    		line-height: 23px;
    		min-height: 50px;
    	}
    	 @include breakpoint(xxs){ 
	        font-size: 13px;
	        border-left: 4px solid;
	        margin: 12px 0;
    		line-height: 16px; padding:0 7px; min-height: 35px;
    	}
 	}
 }
	 

}