
.center {
    text-align:center;
}



li {
    margin-bottom: 10px;
}
.panel-light {
	h1 { 
      
	    //text-shadow: 1px 2px 15px black;
	    a{
	    	color:$blue;
	    }
	}
}

	h1 {
	
	    //text-shadow: 1px 2px 15px black;
	      @include breakpoint(xs){
	     	font-size:20px;
	     }
	     @include breakpoint(sm){
	     	font-size:25px;
	     }
	     @include breakpoint(md){
	     	font-size:40px;
	     }
	}

.home-panel {
	position: relative;
}
.panel-content {
    position: relative;
    // min-height: 300px;
    
      @include breakpoint(md){
        padding: 75px 0; 
      }
        @include breakpoint(sm){
        padding: 45px 0; 
      }
     @include breakpoint(xs){
     	padding: 25px 0; 
        
     }
}
.ad-banners { padding: 30px 0;}
.ad-banners .arrow {
    padding-top:5px;
}
.ad-banners .col-md-4 {
	@include breakpoint(sm){
     	width:33%;
     	float:left;
        padding: 5px;
     }
     @include breakpoint(xs){
     	width:33%;
     	float:left;
        padding:0;
     }
     @include breakpoint(mini){
     	width: 100%;
        float: left;
        text-align: center;
        padding: 0;
    }
}
.ad-banners img {
    position:relative;
   
}


.panel-light .fa-chevron-down {
    color: #000;
    background: #fff;
}

#content .container , #content-wrap .container{
    background:#fff;
}
.news-archive img {
	float: left;
    margin: 0 15px 15px 0;
    // max-width: 155px;
    height: auto;
}
.pagination1 a:first-child {
	font-weight:bold;
	float:left;
}
.pagination1 a {
	font-weight:bold;
	float:right;
}
.post-content p {
    margin:0 0 15px;
    letter-spacing: 0px;
    color: #46595B;
    font-size: 14px;
    line-height: 23px;
    //font-weight: 300;
  font-family: 'Gotham-Book-Regular';
}
.post-content strong {
    //font-family: 'Jockey One', sans-serif;
    color: #2B9DA4;
    font-size: 14px;
    text-shadow: none;
    //font-weight: 500;
    letter-spacing: 0px;
}
#main-content h1, #hero h1, #content-wrap h1 {
   
   
    text-transform: none;
    margin: 12px 15px 15px 0;
   // line-height:48px;
  // text-transform:uppercase;
}

.page-title {
    border-bottom:2px solid #eee;
    margin-left:15px !important;
}
.navigation.row {
    padding-bottom: 15px;
}
.news-archive 
{
    .front-more-news { padding-top:15px;}
    .front-more-news li:nth-child(n) {
        @include breakpoint(md)
        { 
            margin-bottom: 1%;
            margin-right: 1%;
        }
    }
    .front-more-news li {
        @include breakpoint(md){ 
         width: 24%;
     }
    }

}
.wp-pagenavi span.current {
    color: #e4002a !important;
}
.col-1 {
       padding-top: 23px;
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;

    @include breakpoint(xs){ 
        display:inline-block;
        padding-bottom:25px;
        width: 100%;
    }
}
.banner-bg {
     
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
}
.breadcrumb-list {
    a {
        color: #0f235d;
        font-size: 12px;
        font-weight: 500;
    }
    .breadcrumb-current {
        font-weight:bold;
        font-size: 12px;
    }
    margin: 25px 0px 15px 0;
    text-align: right;
    @include breakpoint(md) {

        display: block;
    }
     @include breakpoint(xs-sm) {

        display: none;
    }
}
.page-template-about .news-box h4 {
        font-family: 'serpntbi';
        color:$light_blue; 
        font-size: 20px;
        padding: 15px 0 7px 0;
        font-weight: 100;
        text-transform: uppercase;
        &:hover {
            color:$theme_color;
        }
}
 
.pagination {
    display: inline-block;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 10px;
    background: url('../images/page-divider.jpg') no-repeat;
   .wp-pagenavi {
        padding: 8px 0;
   }
    .wp-pagenavi a, .wp-pagenavi span {
        border-right: 1px solid #BFBFBF !important;
        border: none;
        color: #000;
        font-weight: 600;
        font-size: 12px;
            padding: 0 6px;
        &:hover {
            color:$light_blue;
        }
    }
}

#banner-panel .ad-banners {padding:0px;}

@media only screen and (max-width: 992px) and (min-width: 200px)   {
 
    .headering-top { overflow: inherit;}
}
  .more-link a {
    color: $light_blue;
    font-weight: bold;
    text-transform:uppercase;
}
.more-link {
    padding:4px 0 10px;
}
  .rel-article-content {
        color: #000;
        font-size: 13px;
        line-height: 19px;
        font-family: 'Open Sans',sans-serif;
  }
  .social-media {
    h1 {
        color: #fff;
        text-align: center;
        
    }
    .big-title {
        color: #e4002a;
        text-align: center;
       
        font-size: 40px;
        padding-top: 5px;
     
    }
    .sfeed {
            padding-top: 32px;
            display: inline-block;
    }
    .juicer-feed .j-paginate {
        display:none;
    }
  }
//Gravity form
 .gform_description {
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        font-family: caecilia, sans-serif;
        font-weight: 400;
        font-style: normal;
        @include breakpoint(xxs){ 
            font-size: 28px;
            line-height: 33px;
        }
    }
    .gform_footer {
        text-align: center;
         input[type="submit"] {
            border:none;
            font-family:'overpass-regular';
            background:#AD0A40 !important;
            border-radius:7px;
            color:#fff;
            padding:18px 74px;
            font-size: 20px !important; line-height: 24px !important;
             @include breakpoint(xxs){ 
                padding: 14px 66px;
                font-size: 19px !important;
                line-height: 23px !important;
                max-width: 240px !important;
            }
            &:focus {
                outline: none;
            }
            &:hover {
                background: #910e37 !important;


            }
        }
    }
    .gform_wrapper .validation_message {
            color: #DB1414 !important;    font-family: 'overpass-regular';font-size: 14px !important;line-height: 16px;
    }
.gform_fields {
    font-family:'overpass-light';
     li.gfield.gfield_error.gf_left_half,
     li.gfield.gfield_error.gf_right_half {
        margin-right: 0 !important; 
         @include breakpoint(md){ padding:0 25px !important; }
         @include breakpoint(sm){ padding:0 15px !important; }
    }
    li.gfield {
        text-align: center !important;
         @include breakpoint(md){  padding:0 25px !important; }
    }
    .gfield_label {
        font-size: 20px !important;
        line-height: 24px !important;
        
    }
   .ginput_recaptcha div {
        margin: auto;
   }
    textarea {
        border:none;
        font-size: 20px !important;
        line-height: 24px !important;
        &:focus{
            outline: none;
        }
    }
    input::-webkit-input-placeholder {
    color: #000;
    }
    input:focus::-webkit-input-placeholder {
        color: #141414;
    }
    /* Firefox < 19 */
    input:-moz-placeholder {
        color: #000;
    }
    input:focus:-moz-placeholder {
        color: #141414;
    }
    /* Firefox > 19 */
    input::-moz-placeholder {
        color: #000;
    }
    input:focus::-moz-placeholder {
        color: #141414;
    }

    /* Internet Explorer 10 */
    input:-ms-input-placeholder {
        color: #000;
    }
    input:focus:-ms-input-placeholder {
        color: #141414;
    }

    input[type="text"] {
        border:none;
        border-bottom:1px solid #222222;
        background:transparent;
        color: #000000;
        font-size: 20px !important;
        line-height: 24px !important;
          @include breakpoint(xxs){  font-size: 18px !important; line-height: 21px !important;}
        &:focus {
            color:#000000;
            outline: none;
            font-weight: bold;
            border-bottom:2px solid #222222;
        }
        &:placeholder {
            color:#000000 !important;
        }
    }
}

ul.gfield_checkbox {
    list-style: none;
    padding: 20px;
    width: 75% !important;
    margin: auto !important;
    text-align: center;
    @include breakpoint(md){ width: 75% !important; }
    @include breakpoint(sm){ width: 100% !important; }
    @include breakpoint(xs){ width: 100% !important; }
    @include breakpoint(xxs){ width: 100% !important; }
}
ul.gfield_checkbox li{
    display: inline;
     @include breakpoint(sm){
             margin:0 8px 6px 0 !important;
       }
}
ul.gfield_checkbox label {
    display: inline-block;
    background-color:#fff;
    color: #222222;
    border-radius: 8px;
    white-space: nowrap;
    margin: 3px 0px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    max-width: 100% !important;
    &:hover {
        background:#EAC2CF;
    }
}
.gform_wrapper li.gfield.gfield_error {
        border-top: none !important;
        border-bottom:none !important;
        background: none !important;
        padding:0 !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea{
    border:none !important;
    border-bottom:2px solid #DB1414 !important;
    background: rgba(219, 20, 20, 0.11);
    padding:0 25px !important; height: 50px;  margin: 0;
}
ul.gfield_checkbox  label {
    padding: 14px 21px !important;
    cursor: pointer;
    font-size: 15px !important;
    line-height: 18px !important;
      @include breakpoint(xxxs){
            padding: 10px 10px !important;
            font-size: 12px !important;
            line-height: 16px !important;
      }
        @include breakpoint(xxs){
            padding: 10px 10px !important;
            font-size: 12px !important;
            line-height: 16px !important;
      }
        @include breakpoint(xs){
            padding: 12px 14px !important;
            font-size: 14px !important;
            line-height: 16px !important;
      }
       @include breakpoint(sm){
             padding: 10px 12px !important;
       }

}

// ul.gfield_checkbox li label::before {
//     display: inline-block;
//     font-style: normal;
//     font-variant: normal;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     font-size: 12px;
//     padding: 2px 6px 2px 2px;
//     content: "\f067";
//     transition: transform .3s ease-in-out;
// }

// ul.gfield_checkbox li input[type="checkbox"]:checked + label::before {
//     content: "\f00c";
//     transform: rotate(-360deg);
//     transition: transform .3s ease-in-out;
// }

ul.gfield_checkbox li input[type="checkbox"]:checked + label {
   
    background-color: #AD0A40;
    color: #fff;
    transition: all .2s;
}

ul.gfield_checkbox li input[type="checkbox"] {
  display: absolute;
}
ul.gfield_checkbox li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.gfield_checkbox li input[type="checkbox"]:focus + label {
  /*border: 2px solid #e9a1ff;*/
}
.gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {margin-top: 16px !important;}

#wprmenu_menu_ul {padding: 20px 0 40px;}
.wprm_after_menu_content { font-size: 16px; line-height: 19px;padding-left: 15px; padding-top: 40px; }
.wprmenu_bar.custMenu .wpr-custom-menu { position: absolute; }
#mg-wprm-wrap, div.wpr_search form {opacity: 0.96;}
#mg-wprm-wrap ul li{ border: none !important; }
.wpr-custom-menu.active.is-active { background:none; }
.wpr-custom-menu {
        background: url('../images/mobile-menu.png');
        width: 40px;
        background-repeat: no-repeat;
        height: 34px;
        margin-right: 20px !important;
}
.wpr-icon-list:before { display: none !important; }
.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
     @include breakpoint(xxs){
        width: auto !important;
     }
}
 
ul {
  list-style: none;
}
.gform_confirmation_message {

    .main-text {
            font-family: caecilia, sans-serif;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
             @include breakpoint(xs){
                font-size: 25px;
                line-height: 30px;
             }
    }
    p {
        font-size: 20px;
        line-height: 24px;
         font-family:'overpass-light';
             margin: 15px 0;
         strong {
            font-family:'overpass-extrabold';
         }
    }
}
 
 