
.footer {
	background:#000;
	padding: 35px 0;
	
	@include breakpoint(xs){ 
		padding:15px 0;
	}
	@include breakpoint(md){ 
		text-align:left;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		padding: 40px 0;
		flex-direction: unset;
	}
	@include breakpoint(sm){ 
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    /* optional */
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	    padding: 35px;
	}
	@include breakpoint(xs){ 
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    /* optional */
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	    padding: 37px;
	}
	.footer-logo {
		@include breakpoint(xs){ max-width: 240px; }
		@include breakpoint(sm){ max-width: 250px; }
		@include breakpoint(md){ max-width: 250px; }
	}
	.footer-social { ul {padding: 0;}
		@include breakpoint(xs){
			-ordinal-group: 1;
		    -moz-box-ordinal-group: 1;
		    -ms-flex-order: 1;
		    -webkit-order: 1;
		    order: 1;
		    padding-top: 70px;
		 }
		@include breakpoint(sm){
			-ordinal-group: 1;
		    -moz-box-ordinal-group: 1;
		    -ms-flex-order: 1;
		    -webkit-order: 1;
		    order: 1;
		    padding-top: 70px;
		 }
		 @include breakpoint(md){
		 	 padding-top: 0;    order: unset;
		 }
	}
	.footer-text {
		@include breakpoint(md){
		 	 padding-top: 0;    order: unset;
		 }
		@include breakpoint(sm){
			-webkit-box-ordinal-group: 2;
		    -moz-box-ordinal-group: 2;
		    -ms-flex-order: 2;
		    -webkit-order: 2;
		    order: 2;
		}
		@include breakpoint(xs){
			-webkit-box-ordinal-group: 2;
		    -moz-box-ordinal-group: 2;
		    -ms-flex-order: 2;
		    -webkit-order: 2;
		    order: 2;
		}

	}

	p {
		color: #fff;
		text-align:left;
		font-family:'overpass-regular';

	}
	a {
		color: #fff;
		
	}
	.footer-social {
		ul {
			li {
				list-style: none;
				display: inline-block;
				padding: 0 5px;
			}
		}
	}
}


