.top-header {
   
    height: auto;
    display: flex;
	background: #141414; 

	.top-logo {
		@include breakpoint(sm){  
		    position: absolute;
    		bottom: 33px;
    	}
		@include breakpoint(md){  
		    position: absolute;
    		bottom: 21px;
    	}
		@include breakpoint(xs){  
			display: flex;
		    vertical-align: middle;
		    align-items: center;
		    text-align: center;
		    height: 100px;padding-left: 15px;
		}
	}
	.top-logo img {     width: auto;
    max-width: 100%;
    @include breakpoint(md){ 
		     	height: 100%;
		     	width: 160px;
	}
		@include breakpoint(sm){ 
		     	height: 80px;
			}
			@include breakpoint(xs){ 
		     	height: 50px;
			}
	}
    @include breakpoint(sm){ 
    	height: 70px;
    	 justify-content: space-between;
         vertical-align: middle;
         align-items: center;
    }
     @include breakpoint(md){ 
     	height: 80px;
     	position: fixed;
	    top: 0;
	    z-index: 99;
	    width: 100%;
	}
	@include breakpoint(xs){ 
     	height: 70px;
     	justify-content: space-between;
     	vertical-align: middle;
     	align-items: center;
	}
}

.header-logo {
 
     @include breakpoint(md){ 
     	background:url('../images/logo-back.png') no-repeat;
	    height: 189px;
	    width: 423px;
	    position: relative;
	    top: 21px;
	    z-index: 99;
	  //  left: 0;
	    text-align: center;
	    vertical-align: middle;
	    align-items: center;
	    display: flex;
	    justify-content: center;
     }
     @include breakpoint(sm){ 
     	background:url('../images/logo-back.png') no-repeat;
     	background-size: contain;
     	height: 189px;
	    width: 423px;
	    position: relative;
	    top: 0;
	    z-index: 99;
	    left: -70px;
	    text-align: center;
	    vertical-align: middle;
	    align-items: center;
	    display: flex;
	    justify-content: center;
     }
}

form#searchform {
    position: relative;
    width: 100%;
}
.search-box {
    float: right;
   // margin-top: -35px;
  //  padding-right: 38px;
    display:none;
    @include breakpoint(xs){ 
     	display:block;
     }
     @include breakpoint(sm){ 
     	display:block;
     }
     @include breakpoint(md){ 
     	display:block;
     }

    input[type="text"] {
    	    color: #000;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		   // font-family: 'Rajdhani', sans-serif;
		   // font-weight: 700;
		    letter-spacing: -1px;
		    width: 100%;
		    display: inline-block;
		   // text-transform: uppercase;
		    height: 55px;
		    line-height: 49px;
		    font-size: 15px;
		    padding-left: 10px;
		    padding-right: 74px;
		    //border: 1px solid #fed33d;
		    background: #fff;
		    border-radius:5px;
		    border:none;
		    outline:none;
    }
	  #searchsubmit {
	    font-family: "webfont";
	    font-style: normal;
	    font-weight: normal;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    //color: #00549c;
	    font-size: 17px;
	    float: right;
	    border: none;
	    margin: 0;
	    line-height: 36px;
	    width: 40px;
	    position: absolute;
	    right: 10px;
	    
	    height: 40px;
	    background: $theme_color;
	    display: inline-block;
	    /* box-shadow: inset 0 0 30px #D85119; */
	    /* text-transform: uppercase; */
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    top: 7px; 
	    border-radius: 5px;
    	color: #fff;
	  //float: left;
	}

}

 

#search-form { display: none; }
