#nav-container {

  @include breakpoint(sm){ display: block; }
    display: block;

#responsive_current_menu_item { display: none; }
  .main-nav {
 
    ul {
      padding-left:0;
      padding-right:50px;
        @include breakpoint(xxs){padding: 0;    margin: 0; }
    }
    li {
      display: inline;    padding: 0 15px;
      @include breakpoint(xxs){ 
        display: inline-block; padding:0 15px;margin: 0;
      }
      @include breakpoint(xxxs){ 
        display: block; padding:0 20px;margin: 0;
      }
    }

    li a {
      color: #fff;
    }
  }
}