/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/
#slider-panel {
  .panel-content {
    padding:0;
  }
}
.title {
  position: absolute;
  top: 50%;
  left: 6%;
 @include breakpoint(xs){top: 40%; }
   text-align: left;
   img {
      @include breakpoint(xs){ max-width: 50%;}
      @include breakpoint(sm){ max-width: 43%;}
      @include breakpoint(md){ max-width: 60%;}
      @include breakpoint(lg){ max-width: 400px;}
      @include breakpoint(mlg){ max-width: 100%;}
      @include breakpoint(xlg){ max-width: 100%;}
   }
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  

}
header {
  position: relative;
   background: url('../images/home-banner.png') #141414 no-repeat scroll;
   background-size: cover;
  height: 75vh;
  //min-height: 25rem;
  width: 100%;
   @include breakpoint(xlg){
        height: 80vh;
      }
   @include breakpoint(mlg){
        height: 70vh;
      }
   @include breakpoint(lg){
        height: 60vh;
      }
 @include breakpoint(md){
        height: 50vh;
      }
  @include breakpoint(sm){
        height: 50vh;
      }
       @include breakpoint(xs){
        height: 40vh;
      }
       @include breakpoint(xxs){
        height: 35vh;
      }
}

header video {
  position: absolute;
  top: 50%; 
  left: 20%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
 }

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
/*  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;*/
}

 