@import url("https://use.typekit.net/psl5fyy.css");/* line 1, ../sass/partials/_nav.scss */

#nav-container {
	display: block;
}

/* line 6, ../sass/partials/_nav.scss */

#nav-container #responsive_current_menu_item {
	display: none;
}

/* line 9, ../sass/partials/_nav.scss */

#nav-container .main-nav ul {
	padding-left: 0;
	padding-right: 50px;
}

/* line 14, ../sass/partials/_nav.scss */

#nav-container .main-nav li {
	display: inline;
	padding: 0 15px;
}

/* line 24, ../sass/partials/_nav.scss */

#nav-container .main-nav li a {
	color: #fff;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background: #141414;
}

/* line 24, ../sass/partials/_header.scss */

.top-header .top-logo img {
	width: auto;
	max-width: 100%;
}

/* line 91, ../sass/partials/_header.scss */

form#searchform {
	position: relative;
	width: 100%;
}

/* line 95, ../sass/partials/_header.scss */

.search-box {
	float: right;
	display: none;
}

/* line 110, ../sass/partials/_header.scss */

.search-box input[type="text"] {
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -1px;
	width: 100%;
	display: inline-block;
	height: 55px;
	line-height: 49px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 74px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
}

/* line 131, ../sass/partials/_header.scss */

.search-box #searchsubmit {
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 17px;
	float: right;
	border: none;
	margin: 0;
	line-height: 36px;
	width: 40px;
	position: absolute;
	right: 10px;
	height: 40px;
	background: #e4002a;
	display: inline-block; /* box-shadow: inset 0 0 30px #D85119; */ /* text-transform: uppercase; */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	top: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

/* line 165, ../sass/partials/_header.scss */

#search-form {
	display: none;
}

/* line 2, ../sass/partials/_common-styles.scss */

.center {
	text-align: center;
}

/* line 8, ../sass/partials/_common-styles.scss */

li {
	margin-bottom: 10px;
}

/* line 15, ../sass/partials/_common-styles.scss */

.panel-light h1 a {
	color: #00549c;
}

/* line 35, ../sass/partials/_common-styles.scss */

.home-panel {
	position: relative;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	position: relative;
}

/* line 53, ../sass/partials/_common-styles.scss */

.ad-banners {
	padding: 30px 0;
}

/* line 54, ../sass/partials/_common-styles.scss */

.ad-banners .arrow {
	padding-top: 5px;
}

/* line 75, ../sass/partials/_common-styles.scss */

.ad-banners img {
	position: relative;
}

/* line 81, ../sass/partials/_common-styles.scss */

.panel-light .fa-chevron-down {
	color: #000;
	background: #fff;
}

/* line 86, ../sass/partials/_common-styles.scss */

#content .container,
#content-wrap .container {
	background: #fff;
}

/* line 89, ../sass/partials/_common-styles.scss */

.news-archive img {
	float: left;
	margin: 0 15px 15px 0;
	height: auto;
}

/* line 95, ../sass/partials/_common-styles.scss */

.pagination1 a:first-child {
	font-weight: bold;
	float: left;
}

/* line 99, ../sass/partials/_common-styles.scss */

.pagination1 a {
	font-weight: bold;
	float: right;
}

/* line 103, ../sass/partials/_common-styles.scss */

.post-content p {
	margin: 0 0 15px;
	letter-spacing: 0px;
	color: #46595B;
	font-size: 14px;
	line-height: 23px;
	font-family: 'Gotham-Book-Regular';
}

/* line 112, ../sass/partials/_common-styles.scss */

.post-content strong {
	color: #2B9DA4;
	font-size: 14px;
	text-shadow: none;
	letter-spacing: 0px;
}

/* line 120, ../sass/partials/_common-styles.scss */

#main-content h1,
#hero h1,
#content-wrap h1 {
	text-transform: none;
	margin: 12px 15px 15px 0;
}

/* line 129, ../sass/partials/_common-styles.scss */

.page-title {
	border-bottom: 2px solid #eee;
	margin-left: 15px !important;
}

/* line 133, ../sass/partials/_common-styles.scss */

.navigation.row {
	padding-bottom: 15px;
}

/* line 138, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news {
	padding-top: 15px;
}

/* line 153, ../sass/partials/_common-styles.scss */

.wp-pagenavi span.current {
	color: #e4002a !important;
}

/* line 156, ../sass/partials/_common-styles.scss */

.col-1 {
	padding-top: 23px;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

/* line 168, ../sass/partials/_common-styles.scss */

.banner-bg {
	background-repeat: no-repeat;
	height: 760px;
	width: 100%;
}

/* line 174, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	margin: 25px 0px 15px 0;
	text-align: right;
}

/* line 175, ../sass/partials/_common-styles.scss */

.breadcrumb-list a {
	color: #0f235d;
	font-size: 12px;
	font-weight: 500;
}

/* line 180, ../sass/partials/_common-styles.scss */

.breadcrumb-list .breadcrumb-current {
	font-weight: bold;
	font-size: 12px;
}

/* line 195, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4 {
	font-family: 'serpntbi';
	color: #0f235d;
	font-size: 20px;
	padding: 15px 0 7px 0;
	font-weight: 100;
	text-transform: uppercase;
}

/* line 202, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4:hover {
	color: #e4002a;
}

/* line 207, ../sass/partials/_common-styles.scss */

.pagination {
	display: inline-block;
	padding-bottom: 15px;
	width: 100%;
	padding-top: 10px;
	background: url("../images/page-divider.jpg") no-repeat;
}

/* line 213, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi {
	padding: 8px 0;
}

/* line 216, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a,
.pagination .wp-pagenavi span {
	border-right: 1px solid #BFBFBF !important;
	border: none;
	color: #000;
	font-weight: 600;
	font-size: 12px;
	padding: 0 6px;
}

/* line 223, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a:hover,
.pagination .wp-pagenavi span:hover {
	color: #0f235d;
}

/* line 229, ../sass/partials/_common-styles.scss */

#banner-panel .ad-banners {
	padding: 0px;
}

/* line 235, ../sass/partials/_common-styles.scss */

.more-link a {
	color: #0f235d;
	font-weight: bold;
	text-transform: uppercase;
}

/* line 240, ../sass/partials/_common-styles.scss */

.more-link {
	padding: 4px 0 10px;
}

/* line 243, ../sass/partials/_common-styles.scss */

.rel-article-content {
	color: #000;
	font-size: 13px;
	line-height: 19px;
	font-family: 'Open Sans',sans-serif;
}

/* line 250, ../sass/partials/_common-styles.scss */

.social-media h1 {
	color: #fff;
	text-align: center;
}

/* line 255, ../sass/partials/_common-styles.scss */

.social-media .big-title {
	color: #e4002a;
	text-align: center;
	font-size: 40px;
	padding-top: 5px;
}

/* line 263, ../sass/partials/_common-styles.scss */

.social-media .sfeed {
	padding-top: 32px;
	display: inline-block;
}

/* line 267, ../sass/partials/_common-styles.scss */

.social-media .juicer-feed .j-paginate {
	display: none;
}

/* line 272, ../sass/partials/_common-styles.scss */

.gform_description {
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	font-family: caecilia, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* line 284, ../sass/partials/_common-styles.scss */

.gform_footer {
	text-align: center;
}

/* line 286, ../sass/partials/_common-styles.scss */

.gform_footer input[type="submit"] {
	border: none;
	font-family: 'overpass-regular';
	background: #AD0A40 !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	color: #fff;
	padding: 18px 74px;
	font-size: 20px !important;
	line-height: 24px !important;
}

/* line 300, ../sass/partials/_common-styles.scss */

.gform_footer input[type="submit"]:focus {
	outline: none;
}

/* line 303, ../sass/partials/_common-styles.scss */

.gform_footer input[type="submit"]:hover {
	background: #910e37 !important;
}

/* line 310, ../sass/partials/_common-styles.scss */

.gform_wrapper .validation_message {
	color: #DB1414 !important;
	font-family: 'overpass-regular';
	font-size: 14px !important;
	line-height: 16px;
}

/* line 313, ../sass/partials/_common-styles.scss */

.gform_fields {
	font-family: 'overpass-light'; /* Firefox < 19 */ /* Firefox > 19 */ /* Internet Explorer 10 */
}

/* line 315, ../sass/partials/_common-styles.scss */

.gform_fields li.gfield.gfield_error.gf_left_half,
.gform_fields li.gfield.gfield_error.gf_right_half {
	margin-right: 0 !important;
}

/* line 321, ../sass/partials/_common-styles.scss */

.gform_fields li.gfield {
	text-align: center !important;
}

/* line 325, ../sass/partials/_common-styles.scss */

.gform_fields .gfield_label {
	font-size: 20px !important;
	line-height: 24px !important;
}

/* line 330, ../sass/partials/_common-styles.scss */

.gform_fields .ginput_recaptcha div {
	margin: auto;
}

/* line 333, ../sass/partials/_common-styles.scss */

.gform_fields textarea {
	border: none;
	font-size: 20px !important;
	line-height: 24px !important;
}

/* line 337, ../sass/partials/_common-styles.scss */

.gform_fields textarea:focus {
	outline: none;
}

/* line 341, ../sass/partials/_common-styles.scss */

.gform_fields input::-webkit-input-placeholder {
	color: #000;
}

/* line 344, ../sass/partials/_common-styles.scss */

.gform_fields input:focus::-webkit-input-placeholder {
	color: #141414;
}

/* line 348, ../sass/partials/_common-styles.scss */

.gform_fields input:-moz-placeholder {
	color: #000;
}

/* line 351, ../sass/partials/_common-styles.scss */

.gform_fields input:focus:-moz-placeholder {
	color: #141414;
}

/* line 355, ../sass/partials/_common-styles.scss */

.gform_fields input::-moz-placeholder {
	color: #000;
}

/* line 358, ../sass/partials/_common-styles.scss */

.gform_fields input:focus::-moz-placeholder {
	color: #141414;
}

/* line 363, ../sass/partials/_common-styles.scss */

.gform_fields input:-ms-input-placeholder {
	color: #000;
}

/* line 366, ../sass/partials/_common-styles.scss */

.gform_fields input:focus:-ms-input-placeholder {
	color: #141414;
}

/* line 370, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"] {
	border: none;
	border-bottom: 1px solid #222222;
	background: transparent;
	color: #000000;
	font-size: 20px !important;
	line-height: 24px !important;
}

/* line 378, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"]:focus {
	color: #000000;
	outline: none;
	font-weight: bold;
	border-bottom: 2px solid #222222;
}

/* line 384, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"]:placeholder {
	color: #000000 !important;
}

/* line 390, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox {
	list-style: none;
	padding: 20px;
	width: 75% !important;
	margin: auto !important;
	text-align: center;
}

/* line 401, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li {
	display: inline;
}

/* line 407, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	display: inline-block;
	background-color: #fff;
	color: #222222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	white-space: nowrap;
	margin: 3px 0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	max-width: 100% !important;
}

/* line 422, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label:hover {
	background: #EAC2CF;
}

/* line 426, ../sass/partials/_common-styles.scss */

.gform_wrapper li.gfield.gfield_error {
	border-top: none !important;
	border-bottom: none !important;
	background: none !important;
	padding: 0 !important;
}

/* line 432, ../sass/partials/_common-styles.scss */

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
	border: none !important;
	border-bottom: 2px solid #DB1414 !important;
	background: rgba(219, 20, 20, 0.11);
	padding: 0 25px !important;
	height: 50px;
	margin: 0;
}

/* line 438, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	padding: 14px 21px !important;
	cursor: pointer;
	font-size: 15px !important;
	line-height: 18px !important;
}

/* line 484, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"]:checked + label {
	background-color: #AD0A40;
	color: #fff;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

/* line 491, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"] {
	display: absolute;
}

/* line 494, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

/* line 498, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"]:focus + label { /*border: 2px solid #e9a1ff;*/
}

/* line 501, ../sass/partials/_common-styles.scss */

.gform_wrapper ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
	margin-top: 16px !important;
}

/* line 503, ../sass/partials/_common-styles.scss */

#wprmenu_menu_ul {
	padding: 20px 0 40px;
}

/* line 504, ../sass/partials/_common-styles.scss */

.wprm_after_menu_content {
	font-size: 16px;
	line-height: 19px;
	padding-left: 15px;
	padding-top: 40px;
}

/* line 505, ../sass/partials/_common-styles.scss */

.wprmenu_bar.custMenu .wpr-custom-menu {
	position: absolute;
}

/* line 506, ../sass/partials/_common-styles.scss */

#mg-wprm-wrap,
div.wpr_search form {
	opacity: 0.96;
}

/* line 507, ../sass/partials/_common-styles.scss */

#mg-wprm-wrap ul li {
	border: none !important;
}

/* line 508, ../sass/partials/_common-styles.scss */

.wpr-custom-menu.active.is-active {
	background: none;
}

/* line 509, ../sass/partials/_common-styles.scss */

.wpr-custom-menu {
	background: url("../images/mobile-menu.png");
	width: 40px;
	background-repeat: no-repeat;
	height: 34px;
	margin-right: 20px !important;
}

/* line 516, ../sass/partials/_common-styles.scss */

.wpr-icon-list:before {
	display: none !important;
}

/* line 523, ../sass/partials/_common-styles.scss */

ul {
	list-style: none;
}

/* line 528, ../sass/partials/_common-styles.scss */

.gform_confirmation_message .main-text {
	font-family: caecilia, sans-serif;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
}

/* line 538, ../sass/partials/_common-styles.scss */

.gform_confirmation_message p {
	font-size: 20px;
	line-height: 24px;
	font-family: 'overpass-light';
	margin: 15px 0;
}

/* line 543, ../sass/partials/_common-styles.scss */

.gform_confirmation_message p strong {
	font-family: 'overpass-extrabold';
}

/* line 11, ../sass/partials/_slick.scss */

.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/partials/_slick.scss */

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

/* line 34, ../sass/partials/_slick.scss */

.slick-list:focus {
	outline: none;
}

/* line 39, ../sass/partials/_slick.scss */

.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* line 43, ../sass/partials/_slick.scss */

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

/* line 48, ../sass/partials/_slick.scss */

.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* line 56, ../sass/partials/_slick.scss */

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

/* line 61, ../sass/partials/_slick.scss */

.slick-track:before {
	content: "";
	display: table;
}

/* line 65, ../sass/partials/_slick.scss */

.slick-track:after {
	content: "";
	display: table;
	clear: both;
}

/* line 72, ../sass/partials/_slick.scss */

.slick-loading .slick-track {
	visibility: hidden;
}

/* line 76, ../sass/partials/_slick.scss */

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

/* line 83, ../sass/partials/_slick.scss */

[dir="rtl"] .slick-slide {
	float: right;
}

/* line 89, ../sass/partials/_slick.scss */

.slick-slide.slick-loading img {
	display: none;
}

/* line 92, ../sass/partials/_slick.scss */

.slick-slide.dragging img {
	pointer-events: none;
}

/* line 97, ../sass/partials/_slick.scss */

.slick-initialized .slick-slide {
	display: block;
}

/* line 101, ../sass/partials/_slick.scss */

.slick-loading .slick-slide {
	visibility: hidden;
}

/* line 105, ../sass/partials/_slick.scss */

.slick-vertical .slick-slide {
	display: block;
	height: auto;
}

/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/

/* line 27, ../sass/partials/_slider.scss */

#slider-panel .panel-content {
	padding: 0;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	position: absolute;
	top: 50%;
	left: 6%;
	text-align: left;
}

/* line 45, ../sass/partials/_slider.scss */

.title h1 {
	color: #fff;
	text-transform: uppercase;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	position: relative;
	background: url("../images/home-banner.png") #141414 no-repeat scroll;
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75vh;
	width: 100%;
}

/* line 82, ../sass/partials/_slider.scss */

header video {
	position: absolute;
	top: 50%;
	left: 20%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
}

/* line 93, ../sass/partials/_slider.scss */

header .container {
	position: relative;
	z-index: 2;
}

/* line 98, ../sass/partials/_slider.scss */

header .overlay { /*  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;*/
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: none;
}

/* line 3, ../sass/partials/_banner.scss */

.home-sidebar h1 {
	color: #fff;
}

/* line 18, ../sass/partials/_banner.scss */

.fixture h1 {
	color: #fff;
	text-align: center;
}

/* line 23, ../sass/partials/_banner.scss */

.news-sidebar {
	background: #fff;
	padding: 3px 3px;
}

/* line 33, ../sass/partials/_banner.scss */

.news-sidebar .view-more {
	text-align: center;
	text-transform: uppercase;
	background: #e4002a;
	clear: both;
	font-family: 'Anton';
	padding: 7px 0;
}

/* line 40, ../sass/partials/_banner.scss */

.news-sidebar .view-more a {
	color: #fff;
	font-family: 'Anton';
}

/* line 45, ../sass/partials/_banner.scss */

.news-sidebar .feature-img {
	padding: 0px 10px;
}

/* line 47, ../sass/partials/_banner.scss */

.news-sidebar .feature-img img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* line 51, ../sass/partials/_banner.scss */

.news-sidebar .read-more {
	padding: 0;
}

/* line 53, ../sass/partials/_banner.scss */

.news-sidebar .read-more a {
	color: #e4002a;
}

/* line 57, ../sass/partials/_banner.scss */

.news-sidebar .news-content {
	padding: 0 2px;
}

/* line 59, ../sass/partials/_banner.scss */

.news-sidebar .news-content h4 {
	color: #e4002a;
	text-transform: uppercase;
	font-family: 'Anton';
	margin: 0;
}

/* line 74, ../sass/partials/_banner.scss */

.news-sidebar .news-border {
	border-bottom: 1px solid #c5c5c5;
	padding: 8px 0;
	min-height: 82px;
}

/* line 78, ../sass/partials/_banner.scss */

.news-sidebar .news-border:last-child {
	border: none;
}

/* line 83, ../sass/partials/_banner.scss */

.news-sidebar .rel-article-time {
	font-family: Roboto-Regular;
	color: #666666;
	font-size: 10px;
	text-transform: uppercase;
}

/* line 91, ../sass/partials/_banner.scss */

.ad-banners .promo-logo {
	position: absolute;
	top: 37%;
	left: 0;
	right: 0;
	text-align: center;
}

/* line 98, ../sass/partials/_banner.scss */

.ad-banners .banner-images {
	padding-bottom: 15px;
}

/* line 107, ../sass/partials/_banner.scss */

.ad-banners .banner-images .img-border {
	border: 4px solid #fff;
}

/* line 111, ../sass/partials/_banner.scss */

.ad-banners .promo-arrow {
	position: absolute;
	top: 61%;
	left: 50%;
	font-family: 'Anton';
	color: #fff;
	font-size: 31px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 1;
	padding: 14px;
	z-index: 999;
}

/* line 128, ../sass/partials/_banner.scss */

.ad-banners .promo-arrow a {
	color: #fff;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	position: absolute;
	top: 45%;
	left: 50%;
	font-family: 'Anton';
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #000066;
	text-shadow: 1px 3px 13px #000;
	-ms-transform: translate(-50%, -50%) rotate(-7deg);
	-webkit-transform: translate(-50%, -50%) rotate(-7deg);
	-moz-transform: translate(-50%, -50%) rotate(-7deg);
	-o-transform: translate(-50%, -50%) rotate(-7deg);
	transform: translate(-50%, -50%) rotate(-7deg);
	opacity: 1;
	padding: 12px;
	z-index: 999;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #000066;
	vertical-align: middle;
	font-family: 'Anton';
	color: #fff;
}

/* line 185, ../sass/partials/_banner.scss */

.ad-banners .promo-image {
	width: 100%;
	height: 0;
	padding-top: 77.64%;
	position: relative;
}

/* line 195, ../sass/partials/_banner.scss */

.ad-banners .promo-image:after {
	content: '';
	background: -moz-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 102, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 102, 0.06)), color-stop(59%, rgba(0, 0, 102, 0.1)), to(rgba(0, 0, 102, 0.85)));
	background: linear-gradient(to bottom, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* line 211, ../sass/partials/_banner.scss */

.banners {
	padding: 0;
	position: relative;
}

/* line 214, ../sass/partials/_banner.scss */

.banners li {
	list-style: none;
	float: left;
	padding: 0 10px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	position: absolute;
	top: 41%;
	color: #fff;
	z-index: 99999;
	left: 30%;
	font-family: 'Anton';
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 100;
}

/* line 273, ../sass/partials/_banner.scss */

.facebook-social-md {
	display: none;
}

/* line 284, ../sass/partials/_banner.scss */

.facebook-social {
	display: none;
}

/* line 294, ../sass/partials/_banner.scss */

#banner-panel .panel-content {
	border-top: 3px solid #fff;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	background: #000;
	padding: 35px 0;
}

/* line 60, ../sass/partials/_footer.scss */

.footer .footer-social ul {
	padding: 0;
}

/* line 102, ../sass/partials/_footer.scss */

.footer p {
	color: #fff;
	text-align: left;
	font-family: 'overpass-regular';
}

/* line 108, ../sass/partials/_footer.scss */

.footer a {
	color: #fff;
}

/* line 114, ../sass/partials/_footer.scss */

.footer .footer-social ul li {
	list-style: none;
	display: inline-block;
	padding: 0 5px;
}

/* line 1, ../sass/partials/home-news.scss */

.front-more-news {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	padding-top: 10px;
}

/* line 7, ../sass/partials/home-news.scss */

.front-more-news .read-more {
	color: #0d223f;
	font-weight: 600;
	padding: 0 10px;
	font-size: 16px;
}

/* line 13, ../sass/partials/home-news.scss */

.front-more-news .sponsor-img {
	padding-top: 10px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	margin: 3px 0;
	padding: 14px;
	float: left;
	display: inline-block;
	background: #fff;
	line-height: 20px;
}

/* line 30, ../sass/partials/home-news.scss */

.front-more-news li p {
	padding: 0 10px;
	font-size: 15px;
	line-height: 26px;
}

/* line 35, ../sass/partials/home-news.scss */

.front-more-news li .rel-article-time {
	background: #fff;
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 15px;
}

/* line 44, ../sass/partials/home-news.scss */

.rel-article-time {
	color: #999;
	font-size: 12px;
}

/* line 59, ../sass/partials/home-news.scss */

.more-news .fa-chevron-circle-right {
	padding-left: 10px;
}

/* line 83, ../sass/partials/home-news.scss */

.sponsor-img {
	padding-top: 10px;
}

/* line 84, ../sass/partials/home-news.scss */

.major-sponsor h3 {
	color: #fff;
}

/* line 93, ../sass/partials/home-news.scss */

.major-sponsor {
	padding: 0;
}

/* line 106, ../sass/partials/home-news.scss */

.sponsor-text {
	float: left;
	padding-top: 15px;
}

/* line 110, ../sass/partials/home-news.scss */

.sponsor-text ul {
	padding: 0px;
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* line 114, ../sass/partials/home-news.scss */

.sponsor-text li {
	list-style: none;
	color: #fff;
	padding: 10px 5px;
	border-bottom: 1px solid;
}

/* line 119, ../sass/partials/home-news.scss */

.sponsor-text li a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

/* line 127, ../sass/partials/home-news.scss */

.sponsor-text span.sub-text {
	font-size: 14px;
	font-weight: 100;
}

/* line 131, ../sass/partials/home-news.scss */

.sponsor-text i.fa.fa-trophy,
.sponsor-text .fa-calendar,
.sponsor-text .fa-map-marker,
.sponsor-text .fa-book {
	color: #fff;
	font-size: 33px;
	float: left;
	padding: 13px;
}

/* line 138, ../sass/partials/home-news.scss */

.more-news-section,
.event-sidebar {
	padding: 0;
}

/* line 139, ../sass/partials/home-news.scss */

.more-news-section h3 a {
	color: #fff;
	font-weight: 600;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	position: relative;
}

/* line 180, ../sass/partials/home-news.scss */

.widget-title {
	font-family: 'Rajdhani', sans-serif;
	color: #185B9F;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	clear: both;
}

/* line 188, ../sass/partials/home-news.scss */

.event_archive_link {
	display: block;
	height: 55px;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	background: #012C54;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 55px;
}

/* line 215, ../sass/partials/home-news.scss */

.event_widget_row,
.event_list_row {
	position: relative;
	display: block;
	color: #012C54;
	height: 45px;
	background-color: #F2F2F3;
	font-size: 16px;
}

/* line 224, ../sass/partials/home-news.scss */

.event_widget_row:hover,
.event_list_row:hover {
	background-color: #f7f7f8;
}

/* line 227, ../sass/partials/home-news.scss */

.event_widget_row:hover:nth-child(odd),
.event_list_row:hover:nth-child(odd) {
	background-color: #f7f7f8;
}

/* line 232, ../sass/partials/home-news.scss */

.event_widget_row:nth-child(odd),
.event_list_row:nth-child(odd) {
	background-color: #E6E6E8;
}

/* line 235, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_widget_row .event_title,
.event_widget_row .event_time,
.event_list_row .event_date,
.event_list_row .event_title,
.event_list_row .event_time {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/* line 238, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_list_row .event_date {
	font-weight: 300;
	left: 5px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	font-weight: 700;
	white-space: nowrap;
	left: 60px;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* line 268, ../sass/partials/home-news.scss */

.event_widget_row .event_time,
.event_list_row .event_time {
	display: none;
}

/* line 272, ../sass/partials/home-news.scss */

.elite_events_list ul {
	padding: 0;
}

/* line 275, ../sass/partials/home-news.scss */

.elite_events_list ul li {
	list-style: none;
}

/* line 277, ../sass/partials/home-news.scss */

.elite_events_list ul li .event_title {
	left: 90px;
}

/* line 282, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	padding: 0 !important;
}

/* line 285, ../sass/partials/home-news.scss */

.main-news-archive {
	background-color: rgba(255, 255, 255, 0.1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.32)));
	background-image: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -o-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0.32)));
	background-image: linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='rgba(255, 255, 255, 0.32)');
	display: block;
}

/* line 310, ../sass/partials/home-news.scss */

.news-box {
	min-height: 285px;
}

/* line 312, ../sass/partials/home-news.scss */

.news-box h4 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'serpntbi';
	letter-spacing: 0px;
	padding: 0 0 5px 0;
	line-height: 19px;
	color: #0f235d;
	margin: 0;
	display: inline-block;
	font-size: 16px;
	text-transform: none;
}

/* line 328, ../sass/partials/home-news.scss */

.news-box h4:hover {
	color: #e4002a;
}

/* line 334, ../sass/partials/home-news.scss */

.tribe-events-back a {
	display: none;
}

/* line 2, ../sass/partials/_single.scss */

.post-content img {
	max-width: 100%;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-bottom: 20px;
}

/* line 21, ../sass/partials/_single.scss */

.news-title {
	margin-bottom: 10px;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	display: block;
	-webkit-font-smoothing: antialiased;
	color: #FFFFFF;
	width: 100%;
	text-transform: uppercase;
	font-family: 'serpntbi';
}

/* line 48, ../sass/partials/_single.scss */

.buttons-box-inner li a > span {
	float: left;
	width: 85%;
}

/* line 52, ../sass/partials/_single.scss */

.buttons-box-inner li:hover a {
	color: #fff;
}

/* line 55, ../sass/partials/_single.scss */

.buttons-box-inner li:hover {
	background: #c20023;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	border: solid 1px #dddddd;
	height: 55px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background: #e4002a;
}

/* line 81, ../sass/partials/_single.scss */

.buttons-box-inner li .fa-chevron-circle-right:before {
	background: rgba(0, 0, 0, 0.23);
	padding: 7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 21px;
}

/* line 88, ../sass/partials/_single.scss */

.buttons-box-inner {
	margin-top: 12px;
	padding: 0;
	margin: 0;
	background: #fff;
	display: block;
}

/* line 96, ../sass/partials/_single.scss */

.post-meta p {
	margin-bottom: 0;
}

/* line 99, ../sass/partials/_single.scss */

.post-meta .tags {
	font-size: 12px;
	text-transform: uppercase;
}

/* line 102, ../sass/partials/_single.scss */

.post-meta .tags a {
	background: #012C54;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 2px;
	padding: 0 3px;
	font-size: 12px;
}

/* line 109, ../sass/partials/_single.scss */

.post-meta .tags a:hover {
	text-decoration: none;
	background: #00549c;
}

/* Player Profile, Gallery - single */

/* line 131, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: left;
	margin-right: 10px;
}

/* line 141, ../sass/partials/_single.scss */

.players-single p.intro,
.gallery-single p.intro {
	font-size: 16px;
	font-weight: 400;
}

/* line 145, ../sass/partials/_single.scss */

.players-single td,
.gallery-single td {
	padding: 0 5px;
}

/* line 151, ../sass/partials/_single.scss */

.is-landing .custom-header-img,
.is-landing .custom-header-img-mobile {
	margin-bottom: 20px;
}

/* line 155, ../sass/partials/_single.scss */

#weblizar_twitter-3 .widget-title {
	display: none;
}

/* line 3, ../sass/partials/_solution.scss */

.solution .solution-title {
	padding-bottom: 35px;
}

/* line 7, ../sass/partials/_solution.scss */

.solution .bottom-part {
	padding-top: 35px;
}

/* line 2, ../sass/partials/_about.scss */

.about h1 {
	text-align: center;
}

/* line 17, ../sass/partials/_about.scss */

.about p {
	font-family: 'overpass-light';
	font-size: 30px;
	line-height: 51px;
	font-weight: 400;
	text-align: center;
	font-style: normal;
	margin-top: 15px;
}

/* line 44, ../sass/partials/_about.scss */

.about .border {
	width: 50%;
	margin: auto;
	border-top: 1px solid;
}

/* line 49, ../sass/partials/_about.scss */

.about .services {
	padding-top: 35px;
}

/* line 54, ../sass/partials/_about.scss */

.about .services .serv-name {
	font-family: caecilia, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 26px;
	line-height: 28px;
	margin: 15px 0;
	vertical-align: middle;
	min-height: 50px;
	border-left: 6px solid;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

@font-face {
	font-family: 'overpass-light';
	src: url("../fonts/Overpass/overpass-light.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'overpass-extrabold';
	src: url("../fonts/Overpass/overpass-extrabold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: 'overpass-bold';
	src: url("../fonts/Overpass/overpass-bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: 'overpass-regular';
	src: url("../fonts/Overpass/overpass-regular.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/* line 90, ../sass/app.scss */

body {
	font-family: 'overpass-regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	overflow-x: hidden;
}

/* line 130, ../sass/app.scss */

#nav-container > .container {
	position: relative;
	padding: 0;
}

/* line 137, ../sass/app.scss */

#logo {
	position: absolute;
	top: 0;
	background: url("../images/sabres-logo.png") 0 0 no-repeat;
}

/* line 162, ../sass/app.scss */

#logo a {
	display: block;
	height: 119px;
}

/* line 175, ../sass/app.scss */

#main-content span.news-date {
	display: block;
	float: right;
	padding-left: 10px;
	color: #fff;
}

/* line 188, ../sass/app.scss */

.has-club-logos #content {
	padding-top: 0;
}

/* line 192, ../sass/app.scss */

#sidebar {
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}

/* line 198, ../sass/app.scss */

.has-club-logos #sidebar {
	padding-top: 20px;
}

/* line 203, ../sass/app.scss */

.fsp-adv-social-media {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* line 210, ../sass/app.scss */

.fsp-adv-social-media li {
	display: inline-block;
	margin-left: 5px;
}

/* line 213, ../sass/app.scss */

.fsp-adv-social-media li.share-title {
	display: none;
}

/* line 215, ../sass/app.scss */

.single .fsp-adv-social-media li.share-title {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: -4px;
}

/* line 222, ../sass/app.scss */

.fsp-adv-social-media li a {
	font-size: 30px;
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #DDAA08 !important;
}

/* line 226, ../sass/app.scss */

.fsp-adv-social-media li a:hover {
	color: #00549c !important;
	text-decoration: none;
}

/* line 234, ../sass/app.scss */

.lower-section {
	margin-top: 20px;
}

/* line 238, ../sass/app.scss */

.title-404 {
	display: none;
}

/*# sourceMappingURL=app.css.map */

@media screen and (-webkit-min-device-pixel-ratio: 0) {

@font-face {
	font-family: 'webfont';
	src: url("../fonts/webfont.svg?1531711#webfont") format("svg");
}

}

@media (min-width: 410px) and (max-width: 485px) {

/* line 260, ../sass/partials/_banner.scss */

.ad-banners .promo-image:after {
	width: 100%;
}

}

@media (min-width: 485px) and (max-width: 776px) {

/* line 267, ../sass/partials/_banner.scss */

.banner-images {
	width: 50%;
	float: left;
}

}

@media (min-width: 650px) and (max-width: 990px) {

/* line 73, ../sass/partials/home-news.scss */

.sponsor-img {
	float: left;
	width: 45%;
}

/* line 77, ../sass/partials/home-news.scss */

.sponsor-text {
	padding: 10px 0;
	width: 55%;
	padding-left: 15px;
}

}

@media (max-width: 767px), (min-width: 768px) {

/* line 174, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: none;
}

}

@media (min-width: 767px) and (max-width: 990px) {

/* line 68, ../sass/partials/home-news.scss */

#latest-news-panel .panel-content {
	background: #0d2241 !important;
}

/* line 69, ../sass/partials/home-news.scss */

.major-sponsor {
	margin-top: 25px;
}

}

@media (min-width: 768px) {

/* line 1, ../sass/partials/_nav.scss */

#nav-container {
	display: block;
}

/* line 7, ../sass/partials/_header.scss */

.top-header .top-logo {
	position: absolute;
	bottom: 33px;
}

/* line 24, ../sass/partials/_header.scss */

.top-header .top-logo img {
	height: 80px;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: 70px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 58, ../sass/partials/_header.scss */

.header-logo {
	background: url("../images/logo-back.png") no-repeat;
	-webkit-background-size: contain contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	height: 189px;
	width: 423px;
	position: relative;
	top: 0;
	z-index: 99;
	left: -70px;
	text-align: center;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 95, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 21, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 25px;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 45px 0;
}

/* line 57, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 33%;
	float: left;
	padding: 5px;
}

/* line 315, ../sass/partials/_common-styles.scss */

.gform_fields li.gfield.gfield_error.gf_left_half,
.gform_fields li.gfield.gfield_error.gf_right_half {
	padding: 0 15px !important;
}

/* line 390, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox {
	width: 100% !important;
}

/* line 401, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li {
	margin: 0 8px 6px 0 !important;
}

/* line 438, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	padding: 10px 12px !important;
}

/* line 37, ../sass/partials/_slider.scss */

.title img {
	max-width: 43%;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 50vh;
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: none;
}

/* line 23, ../sass/partials/_banner.scss */

.news-sidebar {
	display: none;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 10px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 23px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 24px;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; /* optional */
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	padding: 35px;
}

/* line 55, ../sass/partials/_footer.scss */

.footer .footer-logo {
	max-width: 250px;
}

/* line 60, ../sass/partials/_footer.scss */

.footer .footer-social {
	-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	-webkit-box-ordinal-group: 2;
	order: 1;
	padding-top: 70px;
}

/* line 81, ../sass/partials/_footer.scss */

.footer .footer-text {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	width: 46%;
	margin-right: 17px;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: inherit;
}

/* line 188, ../sass/partials/home-news.scss */

.event_archive_link {
	position: static;
	margin-top: 2px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 60px;
	width: 250px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 17px;
	height: 66px;
	padding: 0px 10px;
}

/* line 117, ../sass/partials/_single.scss */

#content-wrap {
	min-height: 700px;
}

/* line 2, ../sass/partials/_about.scss */

.about h1 {
	margin-bottom: 30px;
	padding: 0 50px;
}

/* line 17, ../sass/partials/_about.scss */

.about p {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding: 0 70px 50px;
}

/* line 49, ../sass/partials/_about.scss */

.about .services {
	padding-top: 50px;
}

/* line 54, ../sass/partials/_about.scss */

.about .services .serv-name {
	font-size: 18px;
	line-height: 20px;
	min-height: 40px;
}

/* line 137, ../sass/app.scss */

#logo {
	width: 437px;
	left: -20px;
	z-index: 1000;
}

}

@media only screen and (max-width: 992px) and (min-width: 200px) {

/* line 233, ../sass/partials/_common-styles.scss */

.headering-top {
	overflow: inherit;
}

}

@media (min-width: 992px) {

/* line 7, ../sass/partials/_header.scss */

.top-header .top-logo {
	position: absolute;
	bottom: 21px;
}

/* line 24, ../sass/partials/_header.scss */

.top-header .top-logo img {
	height: 100%;
	width: 160px;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}

/* line 58, ../sass/partials/_header.scss */

.header-logo {
	background: url("../images/logo-back.png") no-repeat;
	height: 189px;
	width: 423px;
	position: relative;
	top: 21px;
	z-index: 99;
	text-align: center;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 95, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 21, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 40px;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 75px 0;
}

/* line 139, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li:nth-child(n) {
	margin-bottom: 1%;
	margin-right: 1%;
}

/* line 146, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li {
	width: 24%;
}

/* line 174, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: block;
}

/* line 315, ../sass/partials/_common-styles.scss */

.gform_fields li.gfield.gfield_error.gf_left_half,
.gform_fields li.gfield.gfield_error.gf_right_half {
	padding: 0 25px !important;
}

/* line 321, ../sass/partials/_common-styles.scss */

.gform_fields li.gfield {
	padding: 0 25px !important;
}

/* line 390, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox {
	width: 75% !important;
}

/* line 37, ../sass/partials/_slider.scss */

.title img {
	max-width: 60%;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 50vh;
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: block;
}

/* line 23, ../sass/partials/_banner.scss */

.news-sidebar {
	display: block;
}

/* line 59, ../sass/partials/_banner.scss */

.news-sidebar .news-content h4 {
	font-size: 16px;
	line-height: 20px;
}

/* line 98, ../sass/partials/_banner.scss */

.ad-banners .banner-images {
	padding-left: 0;
	padding-right: 17px;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 8px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 20px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 28px;
}

/* line 273, ../sass/partials/_banner.scss */

.facebook-social-md {
	display: block;
	padding: 0;
}

/* line 284, ../sass/partials/_banner.scss */

.facebook-social {
	display: none;
	padding: 0;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-moz-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding: 40px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: unset;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: unset;
	flex-direction: unset;
}

/* line 55, ../sass/partials/_footer.scss */

.footer .footer-logo {
	max-width: 250px;
}

/* line 60, ../sass/partials/_footer.scss */

.footer .footer-social {
	padding-top: 0;
	-webkit-box-ordinal-group: NaN;
	-webkit-order: unset;
	-moz-box-ordinal-group: NaN;
	-ms-flex-order: unset;
	order: unset;
}

/* line 81, ../sass/partials/_footer.scss */

.footer .footer-text {
	padding-top: 0;
	-webkit-box-ordinal-group: NaN;
	-webkit-order: unset;
	-moz-box-ordinal-group: NaN;
	-ms-flex-order: unset;
	order: unset;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	width: 45%;
}

/* line 149, ../sass/partials/home-news.scss */

.front-more-news li:nth-child(n) {
	margin-bottom: 2%;
	margin-right: 2%;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: 404px;
}

/* line 170, ../sass/partials/home-news.scss */

.elite_events_widget .widget-title {
	margin-bottom: 15px;
	font-size: 26px;
}

/* line 188, ../sass/partials/home-news.scss */

.event_archive_link {
	position: absolute;
	margin-top: 0;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 50px;
	width: 150px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 68px;
	padding: 10px;
}

/* line 17, ../sass/partials/_about.scss */

.about p {
	font-size: 26px;
	line-height: 44px;
	margin-bottom: 0;
	margin-top: 15px;
	padding: 0 70px 50px;
}

/* line 49, ../sass/partials/_about.scss */

.about .services {
	padding-top: 70px;
}

/* line 54, ../sass/partials/_about.scss */

.about .services .serv-name {
	font-size: 20px;
	line-height: 23px;
	min-height: 50px;
}

/* line 137, ../sass/app.scss */

#logo {
	width: 437px;
	left: -50px;
	z-index: 0;
}

}

@media (min-width: 1200px) {

/* line 37, ../sass/partials/_slider.scss */

.title img {
	max-width: 400px;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 60vh;
}

/* line 59, ../sass/partials/_banner.scss */

.news-sidebar .news-content h4 {
	font-size: 18px;
	line-height: 24px;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 12px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 26px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 36px;
}

/* line 273, ../sass/partials/_banner.scss */

.facebook-social-md {
	display: none;
}

/* line 284, ../sass/partials/_banner.scss */

.facebook-social {
	display: block;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: 394px;
}

/* line 170, ../sass/partials/home-news.scss */

.elite_events_widget .widget-title {
	font-size: 35px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 60px;
	width: 190px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 75px;
	padding: 10px;
}

/* line 2, ../sass/partials/_about.scss */

.about h1 {
	line-height: 62px;
	font-size: 46px;
	margin-bottom: 30px;
}

/* line 137, ../sass/app.scss */

#logo {
	width: 437px;
	left: -40px;
	z-index: 0;
}

}

@media (min-width: 1500px) {

/* line 37, ../sass/partials/_slider.scss */

.title img {
	max-width: 100%;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 70vh;
}

}

@media (min-width: 1730px) {

/* line 306, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	background-position: center -62px !important;
}

}

@media (min-width: 1858px) {

/* line 37, ../sass/partials/_slider.scss */

.title img {
	max-width: 100%;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 80vh;
}

}

@media (min-width: 2050px) {

/* line 301, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	background-position: center -150px !important;
}

}

@media (max-width: 767px) {

/* line 7, ../sass/partials/_header.scss */

.top-header .top-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	height: 100px;
	padding-left: 15px;
}

/* line 24, ../sass/partials/_header.scss */

.top-header .top-logo img {
	height: 50px;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: 70px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 95, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 21, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 20px;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 25px 0;
}

/* line 57, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 33%;
	float: left;
	padding: 0;
}

/* line 156, ../sass/partials/_common-styles.scss */

.col-1 {
	display: inline-block;
	padding-bottom: 25px;
	width: 100%;
}

/* line 390, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox {
	width: 100% !important;
}

/* line 438, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	padding: 12px 14px !important;
	font-size: 14px !important;
	line-height: 16px !important;
}

/* line 528, ../sass/partials/_common-styles.scss */

.gform_confirmation_message .main-text {
	font-size: 25px;
	line-height: 30px;
}

/* line 6, ../sass/partials/_slick.scss */

.slick-slider-container {
	background: transparent;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	top: 40%;
}

/* line 37, ../sass/partials/_slider.scss */

.title img {
	max-width: 50%;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 40vh;
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: none;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 6px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 17px;
}

/* line 185, ../sass/partials/_banner.scss */

.ad-banners .promo-image {
	text-align: center;
}

/* line 214, ../sass/partials/_banner.scss */

.banners li {
	width: 100%;
}

/* line 225, ../sass/partials/_banner.scss */

.banners li:first-child img {
	height: 100px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 24px;
	position: absolute;
	left: 20%;
	right: 20%;
	text-align: center;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	padding: 15px 0;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; /* optional */
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	padding: 37px;
}

/* line 55, ../sass/partials/_footer.scss */

.footer .footer-logo {
	max-width: 240px;
}

/* line 60, ../sass/partials/_footer.scss */

.footer .footer-social {
	-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	-webkit-box-ordinal-group: 2;
	order: 1;
	padding-top: 70px;
}

/* line 81, ../sass/partials/_footer.scss */

.footer .footer-text {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	padding: 0;
}

/* line 48, ../sass/partials/home-news.scss */

.more-news {
	text-align: center;
}

/* line 53, ../sass/partials/home-news.scss */

#latest-news-panel .panel-content {
	background: #fff !important;
	padding-bottom: 0;
}

/* line 62, ../sass/partials/home-news.scss */

.more-news-events {
	padding: 0;
}

/* line 93, ../sass/partials/home-news.scss */

.major-sponsor {
	padding-top: 12px;
	background: #0d2241;
	float: left;
	padding: 30px 15px;
	margin-top: 30px;
	width: 100%;
}

/* line 106, ../sass/partials/home-news.scss */

.sponsor-text {
	padding-bottom: 10px;
}

/* line 139, ../sass/partials/home-news.scss */

.more-news-section h3 a {
	color: #0d223f;
	padding-left: 10px;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: inherit;
	margin-left: -15px;
	margin-right: -15px;
}

/* line 238, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_list_row .event_date {
	left: 15px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 70px;
}

/* line 312, ../sass/partials/home-news.scss */

.news-box h4 {
	font-size: 15px;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-top: 22px;
}

/* line 27, ../sass/partials/_single.scss */

.widget-wrapper img {
	border: none;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	text-align: left;
	font-size: 21px;
	margin-left: 13px;
}

/* line 131, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
}

/* line 10, ../sass/partials/_solution.scss */

.solution .busness-sol {
	padding-bottom: 20px;
}

/* line 2, ../sass/partials/_about.scss */

.about h1 {
	margin-bottom: 20px;
	line-height: 28px;
}

/* line 17, ../sass/partials/_about.scss */

.about p {
	font-size: 16px;
	line-height: 23px;
	padding-bottom: 30px;
}

/* line 49, ../sass/partials/_about.scss */

.about .services {
	padding-top: 30px;
}

/* line 54, ../sass/partials/_about.scss */

.about .services .serv-name {
	font-size: 17px;
	line-height: 23px;
	min-height: 50px;
}

/* line 137, ../sass/app.scss */

#logo {
	width: 217px;
	left: -5px;
	-webkit-background-size: 220px 60px;
	-moz-background-size: 220px 60px;
	-o-background-size: 220px 60px;
	background-size: 220px 60px;
	z-index: 1000;
}

/* line 162, ../sass/app.scss */

#logo a {
	height: 60px;
}

/* line 203, ../sass/app.scss */

.fsp-adv-social-media {
	display: none;
}

}

@media (max-width: 650px) {

/* line 57, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 14px;
}

/* line 172, ../sass/app.scss */

#main-content {
	margin: 0;
}

/* line 182, ../sass/app.scss */

#content-wrap {
	margin: 0;
}

}

@media (max-width: 480px) {

/* line 9, ../sass/partials/_nav.scss */

#nav-container .main-nav ul {
	padding: 0;
	margin: 0;
}

/* line 14, ../sass/partials/_nav.scss */

#nav-container .main-nav li {
	display: inline-block;
	padding: 0 15px;
	margin: 0;
}

/* line 272, ../sass/partials/_common-styles.scss */

.gform_description {
	font-size: 28px;
	line-height: 33px;
}

/* line 286, ../sass/partials/_common-styles.scss */

.gform_footer input[type="submit"] {
	padding: 14px 66px;
	font-size: 19px !important;
	line-height: 23px !important;
	max-width: 240px !important;
}

/* line 370, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"] {
	font-size: 18px !important;
	line-height: 21px !important;
}

/* line 390, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox {
	width: 100% !important;
}

/* line 438, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	padding: 10px 10px !important;
	font-size: 12px !important;
	line-height: 16px !important;
}

/* line 517, ../sass/partials/_common-styles.scss */

.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
	width: auto !important;
}

/* line 52, ../sass/partials/_slider.scss */

header {
	height: 35vh;
}

/* line 98, ../sass/partials/_banner.scss */

.ad-banners .banner-images {
	padding: 0;
}

/* line 294, ../sass/partials/_banner.scss */

#banner-panel .panel-content {
	border-top: none;
}

/* line 54, ../sass/partials/_about.scss */

.about .services .serv-name {
	font-size: 13px;
	border-left: 4px solid;
	margin: 12px 0;
	line-height: 16px;
	padding: 0 7px;
	min-height: 35px;
}

}

@media (max-width: 320px) {

/* line 14, ../sass/partials/_nav.scss */

#nav-container .main-nav li {
	display: block;
	padding: 0 20px;
	margin: 0;
}

/* line 438, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	padding: 10px 10px !important;
	font-size: 12px !important;
	line-height: 16px !important;
}

}

